:root {
  --dark: #223;
  --white: #f6f6f6;
  --gray: #727272;
  --light-gray: #e1e1e1;
  --white-gray: #f1f1f1;
  --lightblue: #48cae4;
  --strong-lightblue: #08cff7;
  --black: #000814;
  --coral: #f07167;
}

.heading-2 {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1.6rem;
}

.heading-3 {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1.875rem;
  font-weight: 500;
}

.heading-4 {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1.875rem;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color 100ms ease, background-color 200ms ease;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Fira Code", monospace;
}

.light-mode {
  background-color: var(--white-gray);
  color: var(--dark);
}
.light-mode .accent {
  color: var(--strong-lightblue);
}
.light-mode .logo, .light-mode .nav__link {
  color: var(--dark);
}
.light-mode .mobile-nav__btn {
  color: var(--dark);
}
.light-mode .mobile-nav__container {
  background-color: var(--dark);
}
.light-mode .tool {
  background-color: var(--light-gray);
  font-weight: 500;
}
.light-mode .btn {
  font-weight: normal;
}
.light-mode .work__techs {
  font-weight: 400;
}
.light-mode .work__links__link {
  color: var(--dark);
}
.light-mode .about-me__paragraph {
  font-weight: 500;
}
.light-mode .form__input, .light-mode .form__textarea {
  background-color: var(--light-gray);
  color: var(--dark);
  font-weight: 500;
}
.light-mode .form__title {
  color: var(--strong-lightblue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.logo {
  font-size: 2.4rem;
  font-weight: 400;
}
.logo__link {
  color: var(--white);
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  display: none;
}
.nav__link {
  color: var(--white);
}
.nav__link:hover {
  text-decoration: underline;
  font-weight: 500;
}
@media only screen and (min-width: 750px) {
  .nav__list {
    display: flex;
  }
}

.dark-mode-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4.4rem;
  height: 1.8rem;
  border-radius: 1rem;
  padding: 0 0.4rem;
  background-color: var(--light-gray);
  cursor: pointer;
}
.dark-mode-toggle__switcher {
  position: absolute;
  left: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--gray);
  transition: left 300ms ease-in-out;
}

.icon--sun,
.icon--moon {
  font-size: 0.9rem;
}

.mobile-nav__wrapper {
  position: absolute;
  top: 0;
  user-select: none;
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.mobile-nav__btn {
  color: var(--white);
  font-size: 1.6rem;
}
.mobile-nav__btn--close {
  color: var(--white);
  font-size: 1.6rem;
}
.mobile-nav__container {
  position: absolute;
  background-color: var(--black);
  height: 100vh;
  width: 10rem;
  top: 0;
  right: -100%;
  padding: 2rem 0 6rem 0;
  transition: right 400ms ease-out;
}
.mobile-nav__link {
  color: var(--white);
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.2rem;
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mobile-nav__item:first-child {
  margin-left: auto;
}
.mobile-nav__item:last-child {
  margin-top: auto;
}
@media only screen and (min-width: 750px) {
  .mobile-nav__wrapper, .mobile-nav__btn {
    display: none;
  }
}

.hero {
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.hero__img {
  display: none;
}
.hero__greeting {
  display: block;
  margin-bottom: 0.5rem;
}
.hero__title {
  font-family: "Lexend Deca", sans-seif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.hero__subtitle {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.hero__text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 450px) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .hero__img {
    display: block;
    width: 50%;
  }
  .hero__content {
    width: 50%;
  }
}
@media only screen and (min-width: 1500px) {
  .hero__title {
    font-size: 3.75rem;
  }
  .hero__subtitle {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .hero__text {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
}

.tools {
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.tools__container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (min-width: 750px) {
  .tools__container {
    grid-template-columns: repeat(6, 1fr);
  }
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 8rem;
  width: 100%;
  max-width: 10rem;
  border-radius: 4px;
  background-color: var(--black);
}
.tool__icon {
  width: 70px;
  aspect-ratio: 1/1;
}
@media only screen and (min-width: 1500px) {
  .tool {
    min-height: 10rem;
    max-width: 13rem;
    gap: 1rem;
  }
  .tool__icon {
    width: 80px;
  }
}

.works {
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.works__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work__img-placeholder {
  position: relative;
  width: 100%;
  min-height: 12rem;
  background-color: var(--black);
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.work__img-placeholder::before {
  content: "Coming Soon";
  position: absolute;
  color: var(--black);
  background-color: var(--white);
  font-family: "Lexend Deca", sans-seif;
  font-weight: 500;
  text-align: center;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-27deg);
}
.work__title {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-seif;
  margin-bottom: 1rem;
}
.work__text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.work__techs {
  color: var(--gray);
  font-weight: 500;
  display: flex;
  gap: 1.1rem;
  margin-bottom: 1rem;
}
.work__links__link {
  color: var(--white);
}
@media only screen and (min-width: 750px) {
  .work {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .work__img-placeholder {
    width: 50%;
  }
  .work__content {
    width: 50%;
  }
  .work:nth-child(even) .work__content {
    order: 1;
  }
  .work:nth-child(even) .work__img-placeholder {
    order: 2;
  }
}
@media only screen and (min-width: 1000px) {
  .work {
    gap: 5rem;
  }
  .work__img-placeholder {
    min-height: 15rem;
  }
  .work__img-placeholder::before {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg);
  }
}
@media only screen and (min-width: 1500px) {
  .work__img-placeholder {
    min-height: 22rem;
  }
  .work__img-placeholder::before {
    transform: translateY(-50%) translateX(-50%) rotate(-23deg);
  }
}

.about-me {
  width: 90%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.about-me__img {
  margin-bottom: 2rem;
}
.about-me__title {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-me__paragraph {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}
@media only screen and (min-width: 1000px) {
  .about-me__container {
    display: flex;
    gap: 5rem;
    align-items: flex-start;
  }
  .about-me__img {
    width: 50%;
    max-width: 45rem;
  }
  .about-me__content {
    width: 50%;
  }
}
@media only screen and (min-width: 1500px) {
  .about-me__container {
    align-items: center;
  }
  .about-me__title {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
  .about-me__paragraph {
    font-size: 1.05rem;
    margin-bottom: 1.3rem;
  }
}

.form {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.form__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.form__title__text {
  font-family: "Lexend Deca", sans-seif;
  font-size: 1.8rem;
  font-weight: 400;
}
.form__text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 45rem;
}
.form__label {
  margin-bottom: 0.5rem;
}
.form__input {
  height: 2.4rem;
  border: none;
  border-radius: 4px;
  background-color: var(--black);
  padding: 0 0.6rem;
}
.form__input:focus {
  outline: none;
}
.form__textarea {
  padding: 0.6rem;
  resize: vertical;
  min-height: 7rem;
}
.form__input, .form__textarea {
  font-family: "Fira Code", monospace;
  border: none;
  border-radius: 4px;
  background-color: var(--black);
  color: var(--white);
}
.form__input:focus, .form__input:active, .form__textarea:focus, .form__textarea:active {
  outline: none;
}
.form__label, .form__input, .form__textarea {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .form__wrapper:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .form__wrapper:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .form__wrapper:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .form__textarea {
    min-height: 12rem;
  }
  .form__btn {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1000px) {
  .form__title__text {
    font-size: 2.4rem;
  }
  .form__text {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 1500px) {
  .form__input {
    min-height: 3rem;
    font-size: 1rem;
  }
  .form__textarea {
    font-size: 1rem;
    padding: 1rem;
    min-height: 20rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  min-height: 2rem;
  margin-top: auto;
}
.footer__text {
  font-size: 0.75rem;
  color: var(--white);
  text-align: center;
}
.footer .heart-icon {
  color: #da0d0d;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  width: 11rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  letter-spacing: 1px;
  border: 2px solid var(--lightblue);
  color: var(--lightblue);
  cursor: pointer;
}
.btn:hover {
  color: var(--white);
  background-color: var(--lightblue);
}
.btn:active {
  transform: scale(0.95);
}
@media only screen and (min-width: 1500px) {
  .btn {
    font-size: 1.2rem;
    min-height: 3.5rem;
    width: 13rem;
  }
}

.invisible {
  display: none;
  position: absolute;
  opacity: 0;
  user-select: none;
}

.noscroll {
  overflow: hidden;
}

.accent {
  color: var(--lightblue);
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2-5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

/*# sourceMappingURL=styles.css.map */
